# LAAMPS outputs
*.log
*.dump
*.dat
*.xyz
#visualization files
*.ovito
*.vmd
*.mp4
*.avi
# Ignore Pyhton artifacts
_pycache_/
*.pyc
*.pyo

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System Files
.DS_Store
*.swp
Thumbs.db

# VSCode and logs
.vscode/
*.log
